*/bin/*
*/obj/*

*.suo
*.dll
*.pdb
*.cache

packages/# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
!**/packages/repositories.config
/.vs
/OpenCover.4.6.519
/ComputeVersion.ps1
/.versionCounter
